.auto{
    background-image:url(/pictures/roger-starnes-sr-BZ-BVdl8N1E-unsplash.jpg);
    height: 350px;
    width: 100%;
    background-repeat: ;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    font-size: 20px;
}
.auto2{
    align-items: center;
    text-align: center;
}
.lure{
    padding: 2px 0px;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px gray, 3px 3px 5px gray;
    width: 100%;
    display: flex;
}