*body{
    margin: 0px;
    padding: 0px;
}
.auto{
    background-image:url(/pictures/roger-starnes-sr-BZ-BVdl8N1E-unsplash.jpg);
    height: 350px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    font-size: 20px;
}
.auto2{
    align-items: center;
    text-align: center;
}
.pt1{
    color: black;
    font-size: medium;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
}
.motive{
    display: flex;
    padding: 2px;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 5px gray, 3px 3px 5px gray;
    justify-content: space-around
}
.lure{
    height: 300px;
    width: 300px;
}
.images{
    height: 100px;
    width: 100px;
    display: flex;
    margin: auto;
    width: 100px;
}
.milk{
    text-align:left;
    color: blue;
    background-color: gray;
}
.income{
    color: blue;
}



